<tr>
  <td><%= product.identificator %></td>
  <td><%= product.name %></td>
  <td><%= product.brand_name %></td>
  <td><%= product.code %></td>
  <td><%= product.ean %></td>
  <td><%= product.price %></td>
</tr>
